body {
    background-image:url(122.jpg);
    background-size:cover;
    font-family:Arial;
}

#puppy {
    width: 180px;
    height: 250px;
    background-image:url(puppy8.jpg);
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    margin-left:10px;
    margin-bottom: 20px;
}

#apuppy {
    width: 180px;
    height: 250px;
    background-image:url(puppy7.jpg);
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    margin-left:10px;
    margin-bottom: 20px;
}

#pups {
    width: 180px;
    height: 250px;
    background-image:url(pups15.jpeg);
    background-size:cover;
    float:right;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    margin-left:10px;
    margin-bottom: 20px;
}

#pup {
    width: 180px;
    height: 250px;
    background-image:url(pups16.jpeg);
    background-size:cover;
    float:right;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    margin-bottom: 20px; 
}

#par {
    width: 380px;
    height: 50px;
    padding: 20px;
    float:left;
    text-shadow:5px 5px 9px 9px white;
    margin-left:80px;
    font-family: Arial;
}
