body {
    background-image:  url(122.jpg);
    background-size:cover;
    font-family:Arial;
    padding:70px;
}

#pups1 {
    width: 180px;
    height: 250px;
    background-image:url(pups1.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}

#pups2 {
    width: 180px;
    height: 250px;
    background-image:url(pups2.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}

#pups3 {
    width: 180px;
    height: 250px;
    background-image:url(pups3.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}

#pups4 {
    width: 180px;
    height: 250px;
    background-image:url(pups4.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}

#pups5 {
    width: 180px;
    height: 250px;
    background-image:url(pups5.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}

#pups6 {
    width: 180px;
    height: 250px;
    background-image:url(pups6.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}

#pups7 {
    width: 180px;
    height: 250px;
    background-image:url(pups7.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}

#pups8 {
    width: 180px;
    height: 250px;
    background-image:url(pups8.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}

#pups9 {
    width: 180px;
    height: 250px;
    background-image:url(pups9.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}

#pups10 {
    width: 180px;
    height: 250px;
    background-image:url(pups10.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}

#pups11 {
    width: 180px;
    height: 250px;
    background-image:url(pups11.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}

#pups12 {
    width: 180px;
    height: 250px;
    background-image:url(pups12.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}

#pups13 {
    width: 180px;
    height: 250px;
    background-image:url(pups13.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}

#pups14 {
    width: 180px;
    height: 250px;
    background-image:url(pups14.jpeg);
    padding: 20px;
    margin-bottom:10px;
    background-size:cover;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    text-shadow:2px 2px 5px 5px;
    margin-left:100px;
}