#header {
    line-height:30px;
    background-color: purple;
    color:black;
    height:40px;
    text-align:right;
    padding:5px;
    width:1310px;

  }
  ul {
    margin: 10px;
    padding: 0px;
    list-style: none;
    background-position:center;
    float:center;
    text-align:leftt;
}

ul li {
        width:200px;
        height:40px;
        float:left;
        text-align:leftt;
        margin-left: 20px;
}
  ul li a {
        text-decoration: none;
        color:yellow;
        float:right;
        font-family:'Copperplate Gothic';
        text-align: right;
        margin-left: 20px;
    }

        ul li a:hover {
            background-color:black;
        }

#section {
    width: 1220px;
    height: 600px;
    background-image:url(puppy.jpg);
    padding: 20px;
    float:left;
    border-left-style:ridge;
    border-right-style:ridge;
    border-top:ridge;
    border-bottom:ridge;
    margin-left:25px;
    margin-right:25px;
}
#footer {
    background-color:purple;
    color:black;
    clear:both;
    text-align:right;
    padding:5px;
    width:1310px;
  }